<div class="modal-dialog loginModal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <div class="col-sm-6">
        <h4>Sign In</h4>
        <hr>
        <p>Sign Up Data..</p>
      </div>
      <div class="col-sm-6">
        <h4>Create Account</h4>
        <hr>
        <p>create account Data..</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="close()">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
